<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>
<body>
    <form class="app" id="form">
        <div class="block">
            <label for="login">Введите логин:</label>
            <input type="text" id="login">
            <label for="email">Введите е-майл:</label>
            <input type="text" id="email">
            <button type="submit" id="add_user">Добавить пользователя</button>
        </div>
        <div class="block">
            <ul id="users">
                <li>
                    There's no users in database!
                </li>
            </ul>
        </div>
    </form>
</body>
</html>